html, body {
    background: #242424 center center no-repeat;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
}
#logo{
  max-width: 25%;
  max-height: 25%;
  margin-top: 50px;
}

/* smartphones */
@media (min-width:320px)  {
  #sidenav{
    display: none;
  }
  #logo{
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-nav .navbar .navbar-collapse {
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    margin-top: 10px;
    float: none;
    display: block;
    text-align: center;
  }
  .sidebar-nav .navbar li a {
    color: #FFF;
    font-family: 'Source Sans Pro';
    font-size: 1.0em;
    text-decoration: none;
    font-weight: lighter;
  }
  .sidebar-nav .navbar li a:hover {
    color: #F7CA3F;
    font-weight: bolder;
  }
}

/* laptop/desktop */
@media (min-width:961px) {
  #sidenav{
    display: block;
  }
  #logo {
    pointer-events: none;
    margin-left: 16px
  }
  .sidebar-nav .navbar .navbar-collapse {
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    margin-left: 16px;
    margin-right: 0;
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    margin-top: 30px;
    float: none;
    display: block;
    text-align: left;
  }
  .sidebar-nav .navbar li a {
    color: #FFF;
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
    text-decoration: none;
    font-weight: lighter;
  }
  .sidebar-nav .navbar li a:hover {
    color: #F7CA3F;
    font-weight: bolder;
  }
}
#icons .fa {
    color:white;
    margin:15px;
    position:relative;
    transition:all 0.2s ease-in-out;
}
#icons .email:hover {
    color:#F7CA3F;
    bottom:5px;
}
#icons .twitter:hover {
    color:#6CADDE;
    bottom:5px;
}
#icons .facebook:hover {
    color:#3B5998;
    bottom:5px;
}
#icons .instagram:hover {
    color:#517FA6;
    bottom:5px;
}
