@media (min-width:320px)  {
  .container img {
    max-width: 100%;
    vertical-align: middle;
  }
  #title{
    color: #FFF;
    font-family: 'Source Sans Pro';
    font-size: 2.7em;
  }
  #body{
    max-width: 80%;
    color: #FFF;
    font-family: 'Source Sans Pro';
    font-size: 1.0em;
    font-weight: lighter;
  }
}
@media (min-width:961px) {
  .container img {
    max-width: 100%;
    vertical-align: middle;
  }
  #title{
    margin-top: 30px;
    color: #FFF;
    font-family: 'Source Sans Pro';
    font-size: 3.4em;
    font-weight: bolder;
  }
  #body{
    color: #FFF;
    font-family: 'Roboto Slab';
    font-size: 1.3em;
    max-width: 100%;
    margin-top: 15px;
    font-weight: lighter;
  }
}
#screenshot{
  max-width: 100%;
  height: auto;
}
#body {
  line-height: 32px;
}
