html, body {
    background: #242424 center center no-repeat;
    height: 100%;
    background-size:cover;
}
.container .intro {
  text-transform:uppercase;
  white-space:nowrap;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  display:inline-block;
}
#ComingSoon{
  font-weight:300;
  font-size:4.2vw;
  color:#F7CA3F;
}
#icons .fa {
    color: #FFF;
    margin:15px;
}
#icons .twitter:hover {
    color:#6CADDE;
}
#icons .facebook:hover {
    color:#3B5998;
}
#icons .instagram:hover {
    color:#517fA6;
}
